In [1]:
# Print the numbers from 1 to 100

i = 1
while(i<=100):
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [2]:
# Print the number from 100 to 1
i = 100
while(i >=1):
    print(i)
    i-=1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [3]:

#Print the multiplication table of a numbe n

number = int(input("Please enter the number whose table you want to know"))
i = 0
while(i<=10):
    print(f"{number} * {i} = {number * i}")
    i +=1

3 * 0 = 0
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [15]:
#Print the element of the follwoing list usingn a loop
# [1,4,9,16,25,36,49,64,81,100]

number = 1
last = 0
while(number <=10):
    
    ls = (2*number -1) + last
    print(ls) 
    number+=1
    last = ls

1
4
9
16
25
36
49
64
81
100

In [20]:
# Search for a number x in the tuple using loop
#[1,4,9,16,25,36,49,64,81,100]

tup = (1,4,9,16,25,36,49,64,81,100)
number = int(input("Enter the number you want to search from the given list"))
i = 0
length = len(tup)
while(i<=length):
    if(tup[i]== number):
        print(f"The number is found at the index {i}")
        break
    else:
        i +=1

The number is found at the index 7

#### Using FOR

In [3]:
# Print the element of the following list using a loop
#[1,4,9,16,25,36,49,64,81,100]

ls = [1,4,9,16,25,36,49,64,81,100]

for val in ls:
    print(val)

1
4
9
16
25
36
49
64
81
100

In [6]:
#Search a number x in this tuple using for loop
#[1,4,9,16,25,36,49,64,81,100]

tup = (1,4,9,16,25,36,49,64,81,100)
number = int(input("enter the number you want to search"))

for val in tup:
    if(val == number):
        print(f"The number is found at index {val}")
        break
else:
    print("The number is not in the tupule")

The number is not in the tupule

#### using for & range()

In [17]:
# Print numbers from 1 to 100
seq = range(1,101)

for val in seq:
    print(val)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [18]:
# Print numbers from 100 to 1

seq = range(100, 0, -1)

for val in seq:
    print(val)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [21]:
# Print the miltiplication table of a number n

seq = range(0,11)
i = int(input("Please enter the number whose table you want to get"))
for val in seq:
    print(f"{i} * {val} = {i*val}")

5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [29]:
# WAP to find the sum of the first n numbers.(using while)
n = int(input("Please enter the range till you want to perform sum"))
sum = 0 
i = 1
while(i<=n):
    sum = sum + i
    i+=1
print(f"The sum is {sum}")

The sum is 15

In [33]:
# WAP to find the factorial of the first n numbers.(using for)
n = int(input("Please enter the range till you want to perform factorial"))
fact = 1
for i in range(1,n+1):
    fact*=i

print(fact)

120